@font-face {
    font-family: "AvenirNext";
    src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("OpenType");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "AvenirNext";
    src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("OpenType");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "AvenirNext";
    src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}