@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("OpenType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "AvenirNext";
  padding: 0;
  margin: 0;
}

.header {
  background-color: #323232;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
  }
}
.header__img {
  width: 100%;
  max-height: 30px;
  margin: 1.6rem 0;
}
@media (min-width: 768px) {
  .header__img {
    padding-right: 4rem;
    margin: 2.4rem 2.4rem;
  }
}
@media (min-width: 1280px) {
  .header__img {
    padding-left: 13rem;
    margin-left: 0;
  }
}

.navbar {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .navbar__tab {
    margin: 3rem 2rem 1rem 2rem;
    font-size: 1.6rem;
  }
}
.navbar a {
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  border-bottom: 3px solid #323232;
}
.navbar a:hover {
  border-bottom: 3px solid #FFFFFF;
}
.navbar a:active {
  border-bottom: 3px solid #FFFFFF;
}
.navbar a:visited {
  color: #FFFFFF;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero__title {
  margin: 0;
  margin-left: 1.6rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 4rem;
}
@media (min-width: 768px) {
  .hero__title {
    margin-left: 2.4rem;
    font-size: 6rem;
    padding-top: 25rem;
    padding-bottom: 25rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin: 0;
    padding-top: 35rem;
    padding-bottom: 35rem;
    padding-left: 13rem;
  }
}

.about__title {
  margin: 2.4rem 1.6rem 1.6rem;
  font-size: 3rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .about__title {
    margin-top: 3.6rem;
    font-size: 3.6rem;
  }
}
@media (min-width: 1280px) {
  .about__title {
    margin-left: 0;
    padding-left: 13rem;
  }
}
.about img {
  width: 100%;
  padding: 0 1.6rem;
}
@media (min-width: 768px) {
  .about img {
    padding: 0 10rem;
  }
}
@media (min-width: 1280px) {
  .about img {
    padding: 0 20rem;
  }
}
.about__quote {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-size: 2rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .about__quote {
    padding: 0 10rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    padding: 0 20rem;
  }
}
.about__credit {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-size: 2rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .about__credit {
    margin: 0;
    padding: 0 10rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .about__credit {
    padding: 0 20rem;
  }
}

.bio {
  color: #323232;
}
@media (min-width: 768px) {
  .bio {
    margin: 0 9rem;
  }
}
@media (min-width: 1280px) {
  .bio {
    margin: 0 19rem;
  }
}
.bio__title {
  font-weight: 600;
  font-size: 2rem;
  margin-left: 1.6rem;
}
@media (min-width: 768px) {
  .bio__title {
    margin-top: 3.6rem;
    font-size: 2.4rem;
    margin-left: 1rem;
  }
}
.bio__info {
  font-size: 1.8rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
@media (min-width: 768px) {
  .bio__info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 2rem;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .bio__info p {
    margin: 0 1rem;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding: 0 2.4rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0 13rem;
  }
}
.gallery__title {
  margin: 2.4rem 1.6rem 1.6rem;
  font-size: 3rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery__title {
    margin-left: 0;
    margin-top: 3.6rem;
    font-size: 3.6rem;
  }
}
.gallery__img {
  display: flex;
  flex-wrap: wrap;
}
.gallery img {
  width: 100%;
  height: auto;
  padding: 0.8rem 1.6rem;
}
@media (min-width: 768px) {
  .gallery img {
    padding: 1rem;
    width: 33%;
  }
}

.contact {
  background-color: #323232;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .contact {
    padding: 0 13rem;
  }
}
.contact__title {
  margin: 0;
  margin-left: 1.6rem;
  padding-top: 2.4rem;
  font-size: 3rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .contact__title {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .contact__booking {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .contact__socials {
    display: flex;
    margin: 0 2.4rem;
    padding-top: 3.6rem;
  }
}
@media (min-width: 768px) {
  .contact__socials h2 {
    font-size: 3.6rem;
  }
}

.icons img {
  padding-right: 1rem;
  padding-left: 1.6rem;
  padding-top: 2.4rem;
}
@media (min-width: 768px) {
  .icons img {
    padding: 0;
    height: 90%;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    padding-top: 2.4rem;
  }
}

.booking {
  margin-left: 1.6rem;
}
@media (min-width: 768px) {
  .booking {
    margin: 0;
  }
}
.booking__name {
  margin: 0;
  margin-top: 3.2rem;
  font-weight: 500;
}
.booking a:link {
  text-decoration: none;
  color: #FFFFFF;
}
.booking a:visited {
  color: #FFFFFF;
}

.copyright__info {
  margin: 0;
  margin-left: 1.6rem;
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .copyright__info {
    margin-left: 2.4rem;
  }
}

.footer__img img {
  padding-top: 5rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .footer__img img {
    padding-left: 2.4rem;
  }
}/*# sourceMappingURL=bio.css.map */