@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("OpenType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "AvenirNext";
  padding: 0;
  margin: 0;
}

.header {
  background-color: #323232;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    display: flex;
  }
}
.header img {
  width: 100%;
  height: auto;
  padding: 1.6rem 12rem 1.6rem;
}
@media (min-width: 768px) {
  .header img {
    padding-left: 2.4rem;
  }
}

.navbar {
  display: flex;
  justify-content: center;
}
.navbar a {
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.navbar a:hover {
  border-bottom: 3px solid #FFFFFF;
}
.navbar a:active {
  border-bottom: 3px solid #FFFFFF;
}
.navbar a:visited {
  color: #FFFFFF;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero h1 {
  margin: 0;
  margin-left: 1.6rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 4rem;
}
@media (min-width: 768px) {
  .hero h1 {
    padding-left: 2.4rem;
  }
}

.about h1 {
  margin: 2.4rem 1.6rem 1.6rem;
  font-size: 3rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .about h1 {
    padding-left: 2.4rem;
  }
}
.about img {
  width: 100%;
  padding: 0 1.6rem;
}
@media (min-width: 768px) {
  .about img {
    padding: 0 10rem;
  }
}
.about p {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about p {
    padding: 0 10rem;
  }
}

.bio h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-left: 1.6rem;
}
@media (min-width: 768px) {
  .bio h2 {
    padding: 0 10rem;
  }
}
.bio__info {
  font-size: 1.8rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
@media (min-width: 768px) {
  .bio__info {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 10rem;
  }
}
@media (min-width: 768px) {
  .bio__info p {
    margin-right: 2.4rem;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding-left: 2.4rem;
  }
}
.gallery h1 {
  margin: 2.4rem 1.6rem 1.6rem;
  font-size: 3rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery h1 {
    margin-left: 0;
    margin-top: 3.6rem;
  }
}
.gallery img {
  width: 100%;
  height: auto;
  padding: 0.8rem 1.6rem;
}
@media (min-width: 768px) {
  .gallery img {
    padding: 0;
    width: 33%;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

.contact {
  background-color: #323232;
  color: #FFFFFF;
}
.contact h1 {
  margin: 0;
  margin-left: 1.6rem;
  padding-top: 2.4rem;
  font-size: 3rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .contact__booking {
    display: flex;
    justify-content: space-around;
  }
}

.icons img {
  padding-right: 1rem;
  padding-left: 1.6rem;
  padding-top: 2.4rem;
}

.booking {
  margin-left: 1.6rem;
}
.booking h3 {
  margin: 0;
  margin-top: 3.2rem;
  font-weight: 500;
}
.booking a:link {
  text-decoration: none;
}
.booking a:visited {
  color: #FFFFFF;
}

.copyright p {
  margin: 0;
  margin-left: 1.6rem;
  padding-bottom: 1.6rem;
}

.footer__img img {
  padding-top: 5rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}/*# sourceMappingURL=bio.css.map */